@import "reset";

@backgroundColor: #292929;
@foregroundColor: #222;
@textColor: #d0d0d0;

body {
  padding: 0.3em 0 5em;
  font-family: "Tahoma";
  background: @backgroundColor;
  color: @textColor;
  text-align: center;
  .nav {
    li {
      display: inline-block;
    }
  }
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 1.2em;
    margin-bottom: 1em;
  }
  h3 {
    font-size: 1.2em;
    margin-bottom: 5em;
  }
  small {
    font-size: 0.8em;
  }
  .login-box {
    background: @foregroundColor;
    padding: 2em;
    width: 60%;
    margin: 3em auto;
    h1{
      margin-bottom: 0.5em;
    }
    .form-control {
      width: 60% !important;
      margin-right: 0.5em;
      display: inline-block;
    }
    .btn {
      color: @foregroundColor;
      background: @textColor;
      &:hover {
        background: lighten(@textColor, 10%);
      }
    }
  }
  a {
    color: @textColor;
    cursor: pointer;
    &:link {
      text-decoration: none;
    }
    &:visited {
      text-decoration: none;
      color: @textColor;
    }
    &:hover {
      text-decoration: none;
      color: lighten(@textColor, 10%);
    }
    &:active {
      text-decoration: none;
      color: darken(@textColor, 10%);
    }
  }
  .last-url {
    .dataTables_wrapper {
      .dataTables_length {
        text-align: right;
        select {
          color: @backgroundColor;
        }
      }
      .table {
        width: 100% !important;
      }
      .dataTables_paginate {
        text-align: right;
        .paginate_button {
          background: @foregroundColor;
          padding: 0.5em;
          &:hover {
            background: darken(#222, 5%);
          }
        }
      }
    }
  }
  .modal {
    .modal-content {
      background: @backgroundColor;
    }
  }
  .not-found {
    margin: 7em auto 5em;
    padding: 5em;
    background: @foregroundColor;
    width: 60%;
    h1 {
      font-size: 5em;
      margin-bottom: 0.3em;
    }
    @media screen and (max-width: 768px) {
      width: 90%;
      padding: 4em 2em;
      height: 20em;
    }
  }
  .footer {
    text-align: left;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: @foregroundColor;
    width: 100%;
    padding: 1em 0.5em;
    font-size: 0.8em;
  }
}