html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  padding: 0.3em 0 5em;
  font-family: "Tahoma";
  background: #292929;
  color: #d0d0d0;
  text-align: center;
}
body .nav li {
  display: inline-block;
}
body h1 {
  font-size: 3em;
}
body h2 {
  font-size: 1.2em;
  margin-bottom: 1em;
}
body h3 {
  font-size: 1.2em;
  margin-bottom: 5em;
}
body small {
  font-size: 0.8em;
}
body .login-box {
  background: #222;
  padding: 2em;
  width: 60%;
  margin: 3em auto;
}
body .login-box h1 {
  margin-bottom: 0.5em;
}
body .login-box .form-control {
  width: 60% !important;
  margin-right: 0.5em;
  display: inline-block;
}
body .login-box .btn {
  color: #222;
  background: #d0d0d0;
}
body .login-box .btn:hover {
  background: #eaeaea;
}
body a {
  color: #d0d0d0;
  cursor: pointer;
}
body a:link {
  text-decoration: none;
}
body a:visited {
  text-decoration: none;
  color: #d0d0d0;
}
body a:hover {
  text-decoration: none;
  color: #eaeaea;
}
body a:active {
  text-decoration: none;
  color: #b7b7b7;
}
body .last-url .dataTables_wrapper .dataTables_length {
  text-align: right;
}
body .last-url .dataTables_wrapper .dataTables_length select {
  color: #292929;
}
body .last-url .dataTables_wrapper .table {
  width: 100% !important;
}
body .last-url .dataTables_wrapper .dataTables_paginate {
  text-align: right;
}
body .last-url .dataTables_wrapper .dataTables_paginate .paginate_button {
  background: #222;
  padding: 0.5em;
}
body .last-url .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background: #151515;
}
body .modal .modal-content {
  background: #292929;
}
body .not-found {
  margin: 7em auto 5em;
  padding: 5em;
  background: #222;
  width: 60%;
}
body .not-found h1 {
  font-size: 5em;
  margin-bottom: 0.3em;
}
@media screen and (max-width: 768px) {
  body .not-found {
    width: 90%;
    padding: 4em 2em;
    height: 20em;
  }
}
body .footer {
  text-align: left;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #222;
  width: 100%;
  padding: 1em 0.5em;
  font-size: 0.8em;
}
/*# sourceMappingURL=style.css.map */